main {
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 900px) {
    main {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    main img {
        width: 100%;
    }
}