body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
}

.avatar {
    width: 150px;
}

.card {
    margin: 0 auto;
    padding: 20px;
}

.border-blue {
    border: 1px solid blue;
}